*.pyc
venv
localtests
.idea
*.log
*.log.*
node_modules
.coverage
htmlcov/
sdk/
specs/
docker-compose.yml
venv*/
*.jks
*.keystore
*.p12
*.p8
*.mobileprovision
pqr_llm_secrets.json
config/pqr_llm_secrets.json
