# https://github.com/jupyter/notebook/issues/4437 - Issue with Tornado 6 atm.
tornado==5.1.1
base58
coincurve
bip32utils
python-bitcoinlib
mnemonic
eccsnacks
python-socketio[asyncio_client]
pymongo
socketIO-client
motor
websocket-client
