wheel
scikit-build
cmake
tornado
python-engineio==3.14.2
base58
coincurve
bip32utils
python-bitcoinlib
mnemonic
-e git+https://github.com/pdxwebdev/eccsnacks#egg=eccsnacks
python-socketio[asyncio_client]
pymongo
socketIO-client
motor
websocket-client
aiohttp
websockets
miniupnpc
pyfcm
pycryptodome
Pillow==6.2.1
jws
pyasn1
PyJWT
python-jwt
qrcode==6.1
-e git+https://github.com/pdxwebdev/pyrx#egg=pyrx
pbkdf2
asyncstdlib
GitPython
