{% include '../head.html' %}
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
  <main>
    <div class="page-loader">
      <div class="loader">Loading...</div>
    </div>
    {% include '../navigation.html'  %}
    <div class="main">
      <section class="module" id="explorer">
        <div class="container">
          <base href="/">
          <script
          src="https://code.jquery.com/jquery-3.3.1.min.js"
          integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
          <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <link rel="icon" type="image/x-icon" href="favicon.ico">
          <app-root></app-root>
        </div>
      </section>
    </div>
  </main>
  <script type="text/javascript" src="/static/explorer/runtime.js"></script><script type="text/javascript" src="/static/explorer/polyfills.js"></script><script type="text/javascript" src="/static/explorer/stdyles.js"></script><script type="text/javascript" src="/static/explorer/vendor.js"></script><script type="text/javascript" src="/static/explorer/main.js"></script></body>
  {% include '../footer.html' %}
</body>
</html>
