<!doctype html>
<html lang="en" data-critters-container>
  <main>
    <div class="main">
      <section class="module" id="explorer">
        <div class="container">
			<meta charset="utf-8">
			<title>Explorer</title>
			<base href="/">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<link rel="icon" type="image/x-icon" href="yadacoinstatic/explorer/favicon.ico">
        </div>
      </section>
    </div>
  </main>

<style>body{background-color:silver;margin:0;font-family:Arial,sans-serif;color:#303030}</style><link rel="stylesheet" href="yadacoinstatic/explorer/styles.css" media="print" onload="this.media='all'"><noscript><link rel="stylesheet" href="yadacoinstatic/explorer/styles.css"></noscript><noscript><link rel="stylesheet" href="yadacoinstatic/css/bootstrap.min.css"></noscript></head>
<body>
  <app-root></app-root>
<script src="yadacoinstatic/explorer/runtime.js" type="module"></script><script src="yadacoinstatic/explorer/polyfills.js" type="module"></script><script src="yadacoinstatic/explorer/main.js" type="module"></script></body>
</html>
