<form (ngSubmit)="onSubmit()" #searchForm="ngForm">
    <input class="form-control" [(ngModel)]="model.term" name="term" placeholder="Wallet address, Txn Id, Block height...">
    <button class="btn btn-success">Search</button>
</form>
<h2 *ngIf="resultType === 'txn_outputs_to'">Balance: {{balance}}</h2>
<ul>
    <li *ngFor="let block of result">
        <h3>Block {{block.index}}</h3>
        <p><strong>public_key: </strong>{{block.public_key}}</p>
        <p><strong>signature: </strong>{{block.id}}</p>
        <p><strong>hash: </strong>{{block.hash}}</p>
        <h3>Transactions</h3>
        <ul>
            <li *ngFor="let transaction of block.transactions">
                <p><strong>public_key: </strong>{{transaction.public_key}}</p>
                <p><strong>signature: </strong>{{transaction.id}}</p>
                <p><strong>hash: </strong>{{transaction.hash}}</p>
                <div *ngIf="transaction.inputs.length === 0"><strong>No inputs</strong></div>
                <div *ngIf="transaction.inputs.length > 0">
                    <h3>Inputs</h3>
                    <ul>
                        <li *ngFor="let input of transaction.inputs"><strong>Signature: </strong>{{input.id}}</li>
                    </ul>
                </div>
                <div *ngIf="transaction.outputs.length === 0"><strong>No outputs</strong></div>
                <div *ngIf="transaction.outputs.length > 0">
                    <h3>Outputs</h3>
                    <ul *ngFor="let output of transaction.outputs">
                        <li><strong>Address: </strong>{{output.to}}</li>
                        <li><strong>Amount: </strong>{{output.value}}</li>
                        <hr>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>