<html>
<head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script src="/static/angular.js" type="text/javascript"></script>
    <script type="text/javascript">
        var app = angular.module("yadacoin", []); 
        app.config(function($interpolateProvider){
            $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
        });
        app.controller("friendRequests", function($scope, $http) {
            //$scope.intervalId = setInterval(function(){
            //    $scope.get_user();
            //}, 3000);
            $scope.graph = {friend_posts: [{post_text:'hello'}]};
            var data;
            $scope.user = {};
            
            $scope.get_user = function(){
                $http.get('/login-status').then(function(res) {
                    $scope.user = res.data;
                    if ($scope.user.authenticated) {
                        clearInterval($scope.intervalId);
                        $http.get('/get-graph-mobile?bulletin_secret=' + $scope.user.bulletin_secret).then(function(res2) {
                            $scope.graph = res2.data;
                        });
                    } else {
                        console.log('nope');
                    }
                });
            }
            $scope.get_user();
            $scope.switch = function(el) {
                $(el.currentTarget).siblings('a.active').removeClass("active");
                $(el.currentTarget).addClass("active");
                var index = $(el.currentTarget).index();
                $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
                $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
            }
        });
    </script>
    <script src="/static/peer.js" type="text/javascript"></script>
  <style type="text/css">
    body {
      padding-top: 40px;
      padding-bottom: 40px;
      background-color: #eee;
    }

    .qr-container {
      max-width: 830px;
      padding: 15px;
      margin: 0 auto;
    }

    .form-signin {
      max-width: 830px;
      padding: 15px;
      margin: 0 auto;
    }
    .form-signin .form-signin-heading,
    .form-signin .checkbox {
      margin-bottom: 10px;
    }
    .form-signin .checkbox {
      font-weight: 400;
    }
    .form-signin .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
    }
    .form-signin .form-control:focus {
      z-index: 2;
    }
    .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }


  </style>
<!-- start Mixpanel --><script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.unset people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
mixpanel.init("4e29328ef697408a91a5aad0552705af");
mixpanel.track("demo page");</script><!-- end Mixpanel -->
</head>

<body style="zoom: 1;">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">Yadacoin</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/team">Team</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/demo">Demo</a>
            </li>
        </div>
      </nav>
    </header>
    <div class="container" ng-app="yadacoin" ng-controller="friendRequests">
      <form class="form-signin">
        <h1>Demo</h1>
        <h2>Step 1: Open the app</h2>
        <p>Download the android app <a href="https://play.google.com/store/apps/details?id=io.yadacoin.mobile" target="_blank"><img width="200" src="/static/android.png"></a></p>
        <p>Or open the app on your ios device in either chrome or safari. (Apple app store has a short list of approved crypto currencies. We are not yet on that list) <a href="/static/app/www/index.html" target="_blank">App</a></p>
        <hr class="featurette-divider">

        <h2>Step 2: Wait for coins</h2>
        <p><img src="/static/step1.png"></p>
        <p>As soon as you open the app. You will automatically begin receiving yada coins. New coins take an average of ten minutes to appear.</p>
        <hr class="featurette-divider">

        <h2 class="form-signin-heading">Step 3: Register</h2>
        <p><img src="/static/step2.png"></p>
        <p><strong>Option 1: Just register</strong></p>
        <ol>
          <li>Once you have at least 2 coins, you can register. This is how you would register for any service using yada. While registration is required for this demo, registration would not be required in normal use.</li>
          <li>Tap the red button that appears after coins are received.</li>
          <li>Tap ok on the dialogs to approve the transaction.</li>
          <li>This will demonstrate the registration workflow using yada.</li>
        </ol>
        <p><strong>Option 2: Register and Login</strong></p>
        <ol>
          <li>Use the <a href="https://play.google.com/store/apps/details?id=io.yadacoin.mobile" target="_blank">android app</a> to scan the below QR code which will register and log you in simultaneously.</li>
          <li>Tap 'ok' on the dialogs to approve the transaction.</li>
          <li>If you choose this method, continue to click the 'check login' button. Once your login has been processed on the blockchain, click this button to activate your authenticated session.</li>
        </ol>
        <button class="btn btn-primary" ng-click="get_user()">Check Login</button>
        <div class="qr-container">
          <img src="{{login_qrcode}}" />
          <h2>The information contained in this QR Code:</h2>
          <pre>{{data}}</pre>
        </div>
        <hr class="featurette-divider">

        <h2>Step 4: Request a Friend</h2>
        <p><img src="/static/step3.png"></p>
        <ol>
          <li>Again, once you have at least 2 coins, you can request a friend. Simply have the friend you wish to request follow steps one through three.</li>
          <li>Refresh after about ten minutes and your screen should now look like the above screen shot.</a>
          <li>Then ask them their four work phrase on the app's home page.</li>
          <li>Tap or click the 'new friend' button and you will be presented with a dialog box with a text input.</li>
          <li>Paste or type the four word phrase.</li>
          <li>Tap or click the 'use phrase' button.</li>
          <li>Tap ok on the dialogs to approve the transaction.</li>
        </ol>
        <p><img src="/static/step4.png"></p>
        <hr class="featurette-divider">

        <h2>Step 5: Accept your Request</h2>
        <h4>Warning: For the time being, you cannot accept friend requests using the browser based-app.</h4>
        <ol>
          <li>Again, once you have at least 3 coins, you can accept a friend.</li>
          <li>Tap the menu toggler on the top left of the app, then tap the 'friend requests' option.</li>
          <li>You will see the relationship identifier of the request in the list. Tap it.</li>
          <p><img src="/static/step5.png"></p>
          <li>Finally, you will see the request information and an 'accept' button. Tap it.</li>
          <p><img src="/static/step6.png"></p>
          <li>Tap ok on the dialogs to approve the transaction.</li>
          <li>After about ten minutes, enter the 'friends' section from the menu using the toggler.</li>
          <li>You will now see a new relationship identifier in your friends list.</li>
          <p><img src="/static/step7.png"></p>
        </ol>
        <hr class="featurette-divider">

        <h2>Step 6: Share Content With Your New Friend</h2>
        <ol>
          <li>You must have at least 1 coin.</li>
          <li>Tap or click the 'new post' button.</li>
          <li>Paste your link or short message.</li>
          <li>Tap or click the 'post' button.</li>
          <p><img src="/static/step8.png"></p>
          <li>Wait about ten minutes and then refresh.</li>
          <li>You and your friends can now enjoy the content you just shared!</li>
          <p><img src="/static/step9.png"></p>
        </ol>
      </form>
      <div class="container" style="text-align:center; background-color:white;">
        <h1>Thank you for completing the demo!</h1>
        <h2>Head over to our <a href="/team">team</a> page and picture your face in a glorious circle!</h2>
        <h3>Give us a shout with any questions or comments!</h3>
        <h4>info@yadacoin.io</h4>
      </div>
    </div> <!-- /container -->
    <footer class="container">
      <p class="float-right"><a href="#">Back to top</a></p>
      <p>© 2017 Yadacoin · <a href="/privacy">Privacy</a> · <a href="/terms">Terms</a></p>
    </footer>
</body>
</html>