  <!--  
  JavaScripts
  =============================================
  -->
  <script src="/static/lib/jquery/dist/jquery.js"></script>
  <script src="/static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/static/lib/wow/dist/wow.js"></script>
  <script src="/static/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
  <script src="/static/lib/isotope/dist/isotope.pkgd.js"></script>
  <script src="/static/lib/imagesloaded/imagesloaded.pkgd.js"></script>
  <script src="/static/lib/flexslider/jquery.flexslider.js"></script>
  <script src="/static/lib/owl.carousel/dist/owl.carousel.min.js"></script>
  <script src="/static/lib/smoothscroll.js"></script>
  <script src="/static/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
  <script src="/static/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
  <script src="/static/js/plugins.js"></script>
  <script src="/static/js/main.js"></script>