<header>
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="/">YadaCoin</a>
      </div>
      <div class="collapse navbar-collapse" id="custom-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li class="dropdown"><a class="dropdown-toggle" href="/team" data-toggle="dropdown">About</a>
            <ul class="dropdown-menu">
              <li><a href="/team#team">Team</a></li>
              <li><a href="/team#contact">Contact</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" href="/enterprise" data-toggle="dropdown">Enterprise</a>
            <ul class="dropdown-menu">
              <li><a href="/enterprise#features">Features</a></li>
              <li><a href="/enterprise#pricing">Pricing</a></li>
              <li><a href="/enterprise#contact">Contact</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Blockchain</a>
            <ul class="dropdown-menu">
              <li><a href="/explorer">Explorer</a></li>
              <li><a href="/hashrate">hash rate graph</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">documentation</a>
            <ul class="dropdown-menu">
              <li><a href="/pool-guide">Join a pool</a></li>
              <li><a href="/guide">Mining</a></li>
              <li><a href="/docs" target="_blank">API Reference</a></li>
            </ul>
          </li>
          {% if rid %}
          <li class="dropdown"><i class="icon-user"></i><a class="dropdown-toggle" href="#" data-toggle="dropdown">{{username}}</a>
            <ul class="dropdown-menu">
              <li><a href="/profile">profile</a></li>
              <li><a href="/logout">log out</a></li>
            </ul>
          </li>
          {% end %}
        </ul>
      </div>
    </div>
  </nav>
</header>