<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">Yadacoin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item {% if active=='home' %}active{% endif %}">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% if active=='team' %}active{% endif %}">
          <a class="nav-link" href="/team">Team</a>
        </li>
        <li class="nav-item {% if active=='guide' %}active{% endif %}">
          <a class="nav-link" href="/guide">Guide</a>
        </li>
        <li class="nav-item {% if active=='pool' %}active{% endif %}">
          <a class="nav-link" href="/pool">Pool</a>
        </li>
        <li class="nav-item {% if active=='explorer' %}active{% endif %}">
          <a class="nav-link" href="/explorer" target="_blank">Explorer</a>
        </li>
        <li class="nav-item {% if active=='docs' %}active{% endif %}">
          <a class="nav-link" href="/static/docs/index.html">Docs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/hashrate">Hash Rate</a>
        </li>
      </ul>
    </div>
  </nav>
</header>