<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/peerjsclient/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YadaCoin P2P POC</title>
    <script type="module" crossorigin src="/peerjsclient/assets/index-C5Em1njA.js"></script>
    <link rel="stylesheet" crossorigin href="/peerjsclient/assets/index-DXbyL-g4.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
