{% with title='YadaCoin - CPU Mining Pool', mixpanel='pool page' %}
  {% include 'head.html'  %}
{% endwith %} 
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
      <div class="page-loader">
        <div class="loader">Loading...</div>
      </div>
      <div class="main container">
        <section class="module" id="about">
          {% with active='team' %}
            {% include 'navigation.html'  %}
          {% endwith %} 

          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <h2 class="module-title font-alt">Pool Guide</h2>
              <div class="module-subtitle font-serif">If you have any questions, don't hesitate to ask our <strong><a href="https://discord.gg/JEDJaFS" target="_blank" style="text-decoration:underline">Discord</a></strong> community. <br>We can help!</div>
            </div>
          </div>
          <div class="row">
            <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp"></div>
            <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-4" onclick="wow fadeInUp">
              <div class="card-header">
                    <h2>Ubuntu</h2>
              </div>
              <div class="card-body">
                <a class="btn btn-primary" href="https://github.com/pdxwebdev/yadacoinpoolclient/releases/download/v1.0.0RC3/poolclientRC3-Ubuntu.tar.gz">Download</a>
              </div>
            </div>
            <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-4" onclick="wow fadeInUp">
              <div class="card-header">
                    <h2>Windows</h2>
              </div>
              <div>
                <a class="btn btn-primary" href="https://github.com/pdxwebdev/yadacoinpoolclient/releases/download/v1.0.0RC3/poolclientRC3-Windows.zip">Download</a>
              </div>
          </div>
          <div class="row">
            <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
              <div class="card">
                <div class="card-header">
                    <h2 class="module-title font-alt">how-to</h2>
                </div>
                <div class="card-body">
                  <ul>
                    <li>
                        Download, extract, and run the poolclient executable.
                    </li>
                    <li>
                        Check your balance by copying the address value from the user interface and pasting it into:<br>
                        <a href="https://yadacoin.io/explorer">https://yadacoin.io/explorer</a>
                    </li>
                    <li>
                        Pool balance and payout history:<br>
                        <a href="https://yadacoin.io/explorer?term=13AYDe1jxvYdAFcrUUKGGNC2ZbECXuN5KK">https://yadacoin.io/explorer?term=13AYDe1jxvYdAFcrUUKGGNC2ZbECXuN5KK</a>
                    </li>
                    <li>
                        Join our discord for help and more information!<br>
                        <a href="https://discord.gg/JEDJaFS">https://discord.gg/JEDJaFS</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
    </main>
    {% with %}
      {% include 'footer.html'  %}
    {% endwith %} 
    <style tyle="text/css">
      /* GLOBAL STYLES

      -------------------------------------------------- */
      /* Padding below the footer and lighter body text */
      .fab {
          padding: 20px;
          font-size: 30px;
          width: 30px;
          text-align: center;
          text-decoration: none;
          border-radius: 50%;
      }

      body {
        padding-top: 4.5rem;
        padding-bottom: 3rem;
        color: #5a5a5a;
      }


      /* CUSTOMIZE THE CAROUSEL
      -------------------------------------------------- */

      /* Carousel base class */

      /* Since positioning the image, we need to help out the caption */


      /* MARKETING CONTENT
      -------------------------------------------------- */

      /* Center align the text within the three columns below the carousel */
      .marketing .col-lg-4 {
        margin-bottom: 1.5rem;
        text-align: center;
      }
      .marketing h2 {
        font-weight: 400;
      }
      .marketing .col-lg-4 p {
        margin-right: .75rem;
        margin-left: .75rem;
      }


      /* Featurettes
      ------------------------- */

      .featurette-divider {
        margin: 2rem 0; /* Space out the Bootstrap <hr> more */
      }

      /* Thin out the marketing headings */
      .featurette-heading {
        font-weight: 300;
        line-height: 1;
        letter-spacing: -.05rem;
      }


      /* RESPONSIVE CSS
      -------------------------------------------------- */


      @media (min-width: 62em) {
        .featurette-heading {
          margin-top: 7rem;
        }
      }
    </style>
  </body>
</html>