
    <h3>Signup Request</h3>
    <p>This site will generate a friend reqeust with its own signature (rid) and 'to'.</p>
    <p>For the purposes of this demo, you are already on the "signup page" and a relationship identifier has already been generated.</p>
    <p>Then the 'to' will be passed to this form. Submitting will create an accept.</p>
    <p>irl you would scan a qr code containing the 'to' address and generate your own accept in the blockchain.</p>
    <form action="/register" method="POST">
        Sign up for this site: <input type="text" name="to" value="{{rel_gen}}" />
        <br>
        <input type="submit" >
    </form>