
    <h3>Sent Friend Request</h3>
    <p>Now that both users are registered and logged in, person 1 is going to request friendship with person 2.</p>
    <p>Paste the rid of person 2 into the text box below and submit to request friendship with person 2.</p>
    <form action="{{ref}}" method="POST">
        Signature: <input type="text" name="signature" value="{{signature}}" />
        <br>
        RID: <input type="text" name="requested_rid" />
        <br>
        <input type="submit" >
    </form>