{% with title='YadaCoin - Blockchain Team', mixpanel='team page' %}
  {% include 'head.html'  %}
{% endwith %} 
<body class="container bg-dark" data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
      <div class="page-loader">
        <div class="loader">Loading...</div>
      </div>
      <div class="main home-section">
        <section class="module bg-dark" id="about">
          {% with active='team' %}
            {% include 'navigation.html'  %}
          {% endwith %} 
          <h1>Meet the YadaCoin Team</h1>
            <!-- Marketing messaging and featurettes
            ================================================== -->
            <!-- Wrap the rest of the page in another container to center all the content. -->

            <div class="container marketing">

              <!-- Three columns of text below the carousel -->
              <div class="row">
                <div class="col-lg-4">
                  <img class="rounded-circle" src="/static/matt.jpg" alt="Generic placeholder image" width="140" height="140">
                  <h2>Matthew Vogel</h2>
                  <h4>Founder / Developer</h4>
                  <p>Matt is a software engineer and the author of Remotely Rich. His passion for privacy and anonymity has grown immensely since integrating his patent pending social networking and payment system protocol with blockchain technology which he invented in 2009.</p>
                  <p><strong>info@yadacoin.io</strong></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                  <img class="rounded-circle" src="/static/selina.jpg" alt="Generic placeholder image" width="140" height="140">
                  <h2>Selina Herrera</h2>
                  <h4>Chief Marketing Officer</h4>
                  <p>Selina Herrera has a decade's worth of experience in the field of applied arts and social media marketing. Selina brings with her a truly one-of-a-kind mind for marketing especially when it comes to social media. Selina has an enormous passion for bringing change to social media.</p>
                  <p><strong>selina@yadacoin.io</strong></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                  <img class="rounded-circle" src="/static/anna.jpg" alt="Generic placeholder image" width="140" height="140">
                  <h2>Anna Buchholz</h2>
                  <h4>Chief Strategy Officer</h4>
                  <p>Anna Buchholz is persuing a master's degree in organizational psychology and has nearly a decade of experience building high performance teams that develop world class software. Anna brings an unmatched level of tenacity and efficacy to an industry she is determined to change.</p>
                  <p><strong>anna@yadacoin.io</strong></p>
                </div><!-- /.col-lg-4 -->
              </div><!-- /.row -->


            </div><!-- /.container -->


            <!-- FOOTER -->
            <footer class="container">
              <p class="float-right"><a href="#">Back to top</a></p>
              <p>© 2017 Yadacoin · <a href="/privacy">Privacy</a> · <a href="/terms">Terms</a></p>
            </footer>
          </section>
        </div>
      </main>
      {% with %}
        {% include 'footer.html'  %}
      {% endwith %} 
  </body>
</html>