{% with title='YadaCoin - Blockchain Team', mixpanel='team page' %}
  {% include 'head.html'  %}
{% endwith %} 
<body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
  <main>
    <div class="page-loader">
      <div class="loader">Loading...</div>
    </div>
    {% with active='team' %}
      {% include 'navigation.html'  %}
    {% endwith %} 
    <section class="module bg-dark-60 about-page-header" data-background="assets/images/about_bg.jpg">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
            <h2 class="module-title font-alt">About</h2>
            <div class="module-subtitle font-serif">When you give your life to a vision, it becomes a seed from which a movement can grow.</div>
          </div>
        </div>
      </div>
    </section>
    <div class="main">
      <section class="module" id="team">
        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container">

          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <h2 class="module-title font-alt">Meet the YadaCoin Team</h2>
              <div class="module-subtitle font-serif">The YadaCoin team has dedicated full-time volunteers as well as contributors from all over the globe.</div>
            </div>
          </div>
          <div class="row">
            <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
              <div class="team-item">
                <div class="team-image"><img src="/static/matt.jpg" alt="Member Photo"/>
                  <div class="team-detail">
                    <h5 class="font-alt">Hi all</h5>
                    <p class="font-serif">Matt is a software engineer and the author of Remotely Rich. His passion for privacy and anonymity has grown immensely since integrating his patent pending social networking and payment system protocol with blockchain technology which he invented in 2009.</p>
                    <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                  </div>
                </div>
                <div class="team-descr font-alt">
                  <div class="team-name">Matthew Vogel</div>
                  <div class="team-role">Founder / Developer</div>
                </div>
              </div>
            </div>
            <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
              <div class="team-item">
                <div class="team-image"><img src="/static/selina.jpg" alt="Member Photo"/>
                  <div class="team-detail">
                    <h5 class="font-alt">Hi all</h5>
                    <p class="font-serif">Selina Herrera has a decade's worth of experience in the field of applied arts and social media marketing. Selina brings with her a truly one-of-a-kind mind for marketing especially when it comes to social media. Selina has an enormous passion for bringing change to social media.</p>
                    <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                  </div>
                </div>
                <div class="team-descr font-alt">
                  <div class="team-name">Selina Herrera</div>
                  <div class="team-role">Founder / Developer</div>
                </div>
              </div>
            </div>
            <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
              <div class="team-item">
                <div class="team-image"><img src="/static/anna.jpg" alt="Member Photo"/>
                  <div class="team-detail">
                    <h5 class="font-alt">Hi all</h5>
                    <p class="font-serif">Anna Buchholz is persuing a master's degree in organizational psychology and has nearly a decade of experience building high performance teams that develop world class software. Anna brings an unmatched level of tenacity and efficacy to an industry she is determined to change.</p>
                    <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                  </div>
                </div>
                <div class="team-descr font-alt">
                  <div class="team-name">Anna Buchholz</div>
                  <div class="team-role">Chief Strategy Officer</div>
                </div>
              </div>
            </div>
            <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
              <div class="team-item">
                <div class="team-image"><img src="https://www.bbvaresearch.com/wp-content/uploads/2017/03/shutterstock_57629827.jpg" alt="Member Photo"/>
                  <div class="team-detail"> 
                    <p class="font-serif">Allah Akbar!.</p>
                    <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                  </div>
                </div>
                <div class="team-descr font-alt">
                  <div class="team-name">Global Contributors</div>
                  <div class="team-role">Development / Design / Marketing</div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- /.container -->
      </section>
      <section class="module" id="contact">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <h2 class="module-title font-alt">Get in touch</h2>
              <div class="module-subtitle font-serif"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
              <form id="contactForm" role="form" method="post" action="php/contact.php">
                <div class="form-group">
                  <label class="sr-only" for="name">Name</label>
                  <input class="form-control" type="text" id="name" name="name" placeholder="Your Name*" required="required" data-validation-required-message="Please enter your name."/>
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <label class="sr-only" for="email">Email</label>
                  <input class="form-control" type="email" id="email" name="email" placeholder="Your Email*" required="required" data-validation-required-message="Please enter your email address."/>
                  <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                  <textarea class="form-control" rows="7" id="message" name="message" placeholder="Your Message*" required="required" data-validation-required-message="Please enter your message."></textarea>
                  <p class="help-block text-danger"></p>
                </div>
                <div class="text-center">
                  <button class="btn btn-block btn-round btn-d" id="cfsubmit" type="submit">Submit</button>
                </div>
              </form>
              <div class="ajax-response font-alt" id="contactFormResponse"></div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
  </main>
{% with %}
  {% include 'footer.html' %}
{% endwith %} 
</body>
</html>