<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/wallet/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite + React</title>
    <script src="/wallet/bitcoinjs-lib.js"></script>
    <script type="module" crossorigin src="/wallet/assets/main-BpAfYEO6.js"></script>
    <link rel="modulepreload" crossorigin href="/wallet/assets/hdWallet-CruKAn2M.js">
    <link rel="stylesheet" crossorigin href="/wallet/assets/main-MH4nrUFH.css">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
